<div class="row">
	<div class="well">
		<h1>A quest to solve the problem of poorly thought out belief systems</h1>
		<div class="row">
			<script type="text/javascript" src="http://pshared.5min.com/Scripts/PlayerSeed.js?sid=281&width=560&height=345&playList=517988794"></script>
			

		</div>
	</div>

	<div class="row">
		<div>
			<div class="col-sm-4">
				<div class="well">
					<h4>
						The idea
					</h4>
					<p>The simplest way to describe "Fork my religion" is that it is a collaborative way of figuring out what beliefs and values are important.
I presented the project in a humourous way at Tech Crunch but I actually believe it can serve a very important goal.  Issues such as when it is acceptable to tell a lie or to commit suicide are incredibly important and most people have an opinion about this.  The problem is that few people have arrived at their opinion through critical thinking.  "Fork my religion" will allow you to browse different opinions and see which you like best.
The key part is that if you see something you like, you can improve it by "forking it".  This is a concept from the geeky programming world where you are able to create your own version of someone elses code and improve it without interfering with the original.  As different versions emerge, the best ones can be reincorporated into the original.  The high quality of open source software out there proves that this system of collaboration works very well</p>
					<ul class="list-group"></ul>

				</div>
			</div>

						<div class="col-sm-4">
				<div class="well">
					<h4>
						How it started
					</h4>
					<p>This is actually something I have been thinking about for many years.  I grew up close to a slave trading castle in Ghana where a quotation from the bible is inscribed on the wall of a room close to where the slaves were kept.  The fact that religions can co-exist with bad ideas has troubled me for a long time.
When I turned up for the Tech Crunch hackathon I thought on the spur of the moment that maybe this is my chance to do something about this problem I have pondered for many years.  Call it divine inspiration if you will ;)</p>
					<ul class="list-group"></ul>

				</div>
			</div>

						<div class="col-sm-4">
				<div class="well">
					<h4>
						The idea
					</h4>
					<p>Want to fix..</p>
					<ul class="list-group"></ul>

				</div>
			</div>


		</div>
	</div>