<div class="row">
	<div class="well">
		<h1>
			A quest to solve the problem of poorly thought out belief systems
		</h1>
		<div class="row">
			<script type="text/javascript" src="http://pshared.5min.com/Scripts/PlayerSeed.js?sid=281&width=560&height=345&playList=517988794"></script>

			<div class="col-sm-5 pull-right">
				<div class="well">
					<h4>The idea</h4>
					<p class="lead">
						The idea behind "Fork my religion" is to provide a collaborative way of figuring out what beliefs and values are important in todays world.
					</p>

				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div>

			<div class="col-sm-4">
				<div class="well main-text">
					<h4>The problem</h4>
					<p>
						Religions are not always successful in making people think morally and rationally.  I grew up close to a slave trading castle in Ghana where a quotation from the bible is inscribed on the wall of a room close to where the slaves were kept.  The fact that religions can co-exist so easily with evil has troubled me for a long time.
					</p>
					<p>
						You don't need to be super imaginative to think of examples of religion being used to justify bad behaviour.
					</p>

				</div>

				<div class="well main-text">
					<h4>How it will work</h4>
					<p>
						When the app is finished, it will provide a simple interface to create a space where you can lay down the key tenants of your belief system.  Once you have done that, you can go out and evangelise.  Try to get as many people to see your beliefs and provide feedback
					</p>
					<p>
						The key part is that if you see something you like, you can improve it by "forking it".  This is a concept from the geeky programming world where you are able to create your own version of someone elses code and improve it without interfering with the original.  As different versions emerge, the best ones can be reincorporated into the original.  The high quality of open source software out there proves that this system of collaboration works very well
					</p>

				</div>
			</div>

			<div class="col-sm-4">
				<div class="well main-text">
					<h4>The solution</h4>
					<p>
						How about a platform where smart people can express their beliefs in a way that allows other people to build and improve on them.
					</p>
					<p>
						Open Source coding projects have over time developed very efficient ways of refining code collaboratively to produce superb results.  Why not use some of these processes to produce better belief systems?
					</p>

				</div>

				<div class="well main-text">
					<h4>How it started</h4>
					<p>
						Earlier this year I signed up for the first Tech Crunch disrupt hackathon in Berlin. I didn't give much thought to what I would work on as I assumed I would find an awesome project to join on the day.
					</p>
					<p>
						I ended up with one other guy who wasn't too sure what to work on either. On the spur of the moment I realised this might be a chance to work on a problem that had bugged me for many years.  Call it divine inspiration if you will ;)
					</p>
					<p>
						Somehow the idea seemed to appeal to people and I have had a lot of positive feedback.  Two guys in particular, Christophe Fischer and Mathias were super enthusiatic about it and volunteered to help me make something of this.
					</p>
					<p>
						As a result, I've decided to spend a few hours each work to move the project forward.  The more support I get, the more effort I'll put in.
					</p>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="well main-text">
					<h4>Is this serious?</h4>
					<p>Yes and no...</p>
					<p>
						I presented the project in a humourous way at Tech Crunch and I'm not religous about what purpose it ends up serving.  If people want to have fun creating and sharing crazy ideas, I'm cool with that.  Would be great if some seriously great ideas come from it though.
					</p>
				</div>

				<div class="well main-text">
					<h4>Help me out pleaaaaasssse...</h4>
					<p>
						I only had 18 hours or so during the hackathon to get the basics in place.  There is plenty more work to be done and I will appreciate any help, no matter how small.
					</p>
					<p>
						First and most importantly, I need developers who can give some time to either exchange ideas or write some code with me.  Right now I am looking at creating an emberjs front end that will use an API hosted on a Rails server to manage the core part of the platform.
						I still need to figure out how best to use the github api to manage collaboration.
					</p>
					<p>
						Aside from the coding I can also do with help on publicising the idea, suggestions, feedback etc.  And of course once the platform is ready, creating belief systems!!!!
					</p>
					<p>
						Anyone who can help, please contact me by email: africajam at hotmail.
					</p>
				</div>

			</div>

		</div>
	</div>