/* dark-gray: 2F3238 dark-blue: #12456a 
$grid-float-breakpoint:     768px;
*/

$grid-float-breakpoint:     980px;

$icon-font-path:          "../styles/fonts/" !default;

$state-info-bg:                  #e3e3e3 !default;

$navbar-default-bg:                #0d334f !default;
$navbar-default-link-active-color:  white !default;

$nav-tabs-border-color: #A8A8A8;
$nav-tabs-active-link-hover-border-color:  #A8A8A8;
$nav-tabs-active-link-hover-bg: #d5d5d5;

@import "bootstrap";

/* Put your CSS here */
html, body {
   margin-top:30px;
   background-color:#12456a;
}

.main-text{
	font-size: 115%;
}

.control-label{
	font-size: 150%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
